#cards-list {
  height: 0 !important;
  opacity: 0 !important;
  overflow: hidden !important;
}

.cards-list {
  --card-size: 5.875rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-size), 1fr));
  gap: 1rem;
  margin: 1rem 1rem 3rem;
}

.card {
  width: var(--card-size);
  height: var(--card-size);
}

.card__container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  position: relative;
  width: 100%;
}

.card__thumb {
  position: absolute;
  z-index: 2;
  width: 126%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.card__rarity {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  width: 56%;
  left: -11%;
}

.card__element {
  position: absolute;
  z-index: 2;
  top: -0.625rem;
  width: 47%;
  right: -18%;
}

.card__count {
  --card-count-bg: #081737f0;
  --card-count-border: #34353d;

  position: absolute;
  z-index: 2;
  width: 25%;
  height: 25%;
  background: var(--card-count-bg);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 9rem;
  border: 1px solid var(--card-count-border);
  font-size: 0.8rem;
  bottom: -4px;
  right: -5px;
}

/* SUMMONS BUTTON */
.summon-button {
  border: 0;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  background-color: #f1f1f1;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.25rem;
  cursor: pointer;
}

.summon-button:hover {
  background-color: #e1e1e1;
}

.summon-button:active {
  background-color: #d1d1d1;
}
